[submodule "vendor/sparsehash"]
	path = vendor/sparsehash
	url = https://github.com/sparsehash/sparsehash.git
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark.git
